.first-home{
    margin: 25px 4vw 10px 4vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* font-size: 18px; */
    
}
.unlock{
    font-size: 28px;
    text-align: center;
}
.headText{
    margin: 0px;
    font-size: 60px;
    font-weight: 700;
    background: #0076F3;
    background: linear-gradient(to bottom right, #0076F3 0%, #11F3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.left-container{
    /* width: 600px; */
    flex: 1; 
    min-width: 200px;
}
.rightContainer{
    width: 500px;
    padding: 20px 0px 0px 5vw ;
}

.mainSecond{
    font-size: 22px;
    color: #c9d4ec;
    text-align: center;
    margin-top: 0px;
}
.fade-in {
    opacity: 1; /* Show text */
}

.fade-out {
    opacity: 0; /* Hide text */
}

.text-containr {
    text-align: left;
    color: white;
    padding-left: 10px;
    transition: opacity 1.5s ease;
}
.arrow img{
    width: 30px;
    background-color: transparent;
}

.arrow{
    background-color: transparent;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.moving-button {
    display: inline-block;
    transition: transform 0.5s ease; /* Smooth transition */
}

.up {
    transform: translateY(-10px); /* Move up */
}

.down {
    transform: translateY(10px); /* Move down */
}

.points{
    margin: 0px;
}



.button-24 {
  margin-top: 12px;
  background: #FF4742;
  border : 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.cardSection{
    display: flex;
    flex-wrap: wrap;
    margin:  10px 30px 10px 30px;
    justify-content: space-around;
}

.competence-header{
    font-weight: 500;
    text-align: center;
    position: relative;
    margin: 0px;
}


.moving-underline-text {
    position: relative;
    display: inline-block;
    font-size: 3rem; 
    color: #fff; 
    text-align: center; 
  }

  .moving-underline-text p{
    margin-bottom: 0px;
  }
  
  .underline {

    position: absolute;
    left: 10%;
    /* transform: translateX(-80%); */
    height: 4px;
    background-color: #6bd8ff; 
  }
  
  a{
    color: white;
    text-decoration: none;
  }